body{
    margin: 0px; background-color: #222222; overflow: hidden;
  }



/*/////////////////////*/
/*____________________________________________Loader________________________________________*/


/*_____________________________________*/



.topnav {
  /* background-color: black; */
  overflow: hidden;
  /* border-bottom: 1px solid white; */
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  position: absolute;
  width: 100%;
}

.topnav span {
    color : white;
    font-family: 'Roboto';
    margin-top: auto;
}

.right-white {
    margin-top: 50vh;
    margin-left: 80vw;
    position: absolute;
}

.left-white {
    margin-top: 50vh;
    margin-right: 50vw;
    position: absolute;
}

.topnav img {
    height: 36px;
    margin: 2% 2%;
}

.text1 {
    display: none;
}
.show1 {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 430px;
    position: absolute;
    color: white;
    flex-direction: column;
    display: flex;
    transition: 0.5s all ease;
    text-align: center;
    justify-content: center;
    left: 425px;
    top: 60px;
    font-family: 'ZCOOL XiaoWei', serif;
    background-color: rgba(0,0,0,0.8);
    border-radius: 50px 5px 50px 5px;
}
.button1 {
    left: 600px;
    top: 260px;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    border-color: rgba(125,125,125,0);
    color: white;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    border-radius: 10px;
    transition: 0.5s all ease;
}
.button1:hover {
    color: gray;
}
.button2 {
    left: 790px;
    top: 230px;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    border-color: rgba(125,125,125,0);
    color: white;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    border-radius: 10px;
    transition: 0.5s all ease;
}
.button2:hover {
    color: gray;
}
.button3 {
    left: 960px;
    top: 300px;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    border-color: rgba(125,125,125,0);
    color: white;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    border-radius: 10px;
    transition: 0.5s all ease;
}
.button3:hover {
    color: gray;
}
.button4 {
    left: 345px;
    top: 450px;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    border-color: rgba(125,125,125,0);
    color: white;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    border-radius: 10px;
    transition: 0.5s all ease;
}
.button4:hover {
    color: gray;
}
.button5 {
    left: 570px;
    top: 450px;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    border-color: rgba(125,125,125,0);
    color: white;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    border-radius: 10px;
    transition: 0.5s all ease;
}
.button5:hover {
    color: gray;
}
.button6 {
    left: 800pxyy;
    top: 450px;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    border-color: rgba(125,125,125,0);
    color: white;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    border-radius: 10px;
    transition: 0.5s all ease;
}
.button6:hover {
    color: gray;
}

.button7 {
  left: 20px;
  top: 450px;
  position: absolute;
  background-color: rgba(0,0,0,0.9);
  border-color: rgba(125,125,125,0);
  color: white;
  cursor: pointer;
  font-family: 'Cinzel', serif;
  border-radius: 10px;
  transition: 0.5s all ease;
}
.button7:hover {
  color: gray;
}
.button8 {
  left: 20px;
  top: 500px;
  position: absolute;
  background-color: rgba(0,0,0,0.9);
  border-color: rgba(125,125,125,0);
  color: white;
  cursor: pointer;
  font-family: 'Cinzel', serif;
  border-radius: 10px;
  transition: 0.5s all ease;
}
.button8:hover {
  color: gray;
}

.text2 {
  display: none;
  transition: 0.5s all ease;
}

.show2 {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  width: 430px;
  position: absolute;
  color: white;
  left: 610px;
  top: 30px;
  display: flex;
  flex-direction : column;
  transition: 0.5s all ease;
  text-align: center;
  font-family: 'ZCOOL XiaoWei', serif;
  background-color: rgba(0,0,0,0.8);
  border-radius: 50px 5px 50px 5px;
}
  

  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

.text3 {
  display: none;
}
.show3 {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  width: 430px;
  position: absolute;
  color: white;
  left: 790px;
  top: 100px;
  flex-direction: column;
  display: flex;
  transition: 0.5s all ease;
  text-align: center;
  font-family: 'ZCOOL XiaoWei', serif;
  background-color: rgba(0,0,0,0.8);
  border-radius: 50px 5px 50px 5px;
}

.text4 {
    display: none;
}
.show4 {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  width: 430px;
  position: absolute;
  color: white;
  left: 180px;
  top: 250px;
  display: flex;
  transition: 0.5s all ease;
  text-align: center;
  flex-direction: column;
  background-color: rgba(0,0,0,0.8);
  border-radius: 50px 5px 50px 5px;
}

.text5 {
    display: none;
}
.show5 {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  width: 430px;
  position: absolute;
  color: white;
  left: 400px;
  top: 250px;
  display: flex;
  transition: 0.5s all ease;
  text-align: center;
  flex-direction: column;
  background-color: rgba(0,0,0,0.8);
  border-radius: 50px 5px 50px 5px;
}

.text6 {
  display: none;
}
.show6 {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  width: 430px;
  position: absolute;
  color: white;
  left: 630px;
  top: 250px;
  display: flex;
  transition: 0.5s all ease;
  text-align: center;
  flex-direction: column;
  background-color: rgba(0,0,0,0.8);
  border-radius: 50px 5px 50px 5px;
}
.rotate{
  transition: 0.5s all ease;
}
.rotate:hover {
  transform: rotate(180deg);
}
h3 {
  font-family: 'Cinzel', serif;
  font-size: 200%;
}
p {
  line-height: 20px;
  margin: 15px;
}


/* LOADER  */

.loader-container{
    position: fixed;
    top: 0; 
    left: 0 ;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: black;
    transition:opacity 1s ease-in-out ,visibility 1s ease-in-out;
  }
  .loader{
    width: 360px;
    height: 360px;
    border: 16px solid grey;
    border-radius: 50%;
    border-top: 16px solid white;
    position: absolute;
    top: 50%;
    left:50%;
    box-shadow: 0 0 6px 2px rgba(243, 243, 243, 0.2);
    animation: loader 1s linear infinite;
  }
    
    @keyframes loader {
    
    0%{
      transform: translate(-50%, -50%) rotate(0deg);
      }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
    .loader-container.hidden{
    opacity: 0;
    visibility: hidden;
    }
    .content{
      opacity: 100;
      visibility: visible;
    }
    .content.hidden{
      opacity:0;
      visibility: hidden;
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 50%;
      padding: 0 4rem;
      color: white;
      top:0;
      left: 0;
    }
  
    h1 {
      position: fixed;
      display: flex;
      align-self: center;
      text-align: center;
      font-size: 3.5rem;
      top:42%;
      
      font-weight: 200;
      color: white;
      font-family: 'ZCOOL XiaoWei', serif;
    }

  
    

/* Résolution 1920x1080 */
@media all and (min-width: 1024px) and (max-width: 1920px){
          .button1 {
            left: 555px;
            top: 430px;
          }
          .button2 {
            left: 930px;
            top: 225px;
          }
          .button3 {
            left: 1152px;
            top: 230px;
          }
          .button4 {
            left: 305px;
            top: 705px;
          }
          .button5 {
            left: 485px;
            top: 695px; 
          }
          .button6{
            left: 660px;
            top: 680px;
          }
          .button7 {
            left: 20px;
            top: 450px;
          }
          .button8 {
            left: 20px;
            top: 500px;
          }

          .show1 {
            left: 385px;
            top: 175px;
          }
          .show2 {
            left: 500px;
          }
          .show3 {
            left: 1300px;
          }
          .show4{
            left: 170px;
            top: 425px;
          }
          .show5 {
            left: 295px;
            top: 415px;  
          }
          .show6 {
            left: 465px;
            top: 405px;
          }
      }
/* Résolution 2560x1440 */
@media all and (min-width: 2000px) and (max-width: 2560px)  {
  .button1 {
    left: 750px;
    top: 590px;
  }
  .button2 {
    left: 1250px;
    top: 315px;
  }
  .button3 {
    left: 1550px;
    top: 320px
  }
  .button4 {
    left: 410px;
    top: 960px;
  }
  .button5 {
    left: 660px;
    top: 940px; 
  }
  .button6{
    left: 890px;
    top: 920px;
  }

  .button7 {
    left: 20px;
    top: 450px;
  }

  .button8 {
    left: 20px;
    top: 500px;
  }

  .show1 {
    left: 583px;
    top: 357px;
  }
  .show2 {
    left: 1060px;
    top: 110px;
  }
  .show3 {
    left: 1380px;
  }
  .show4{
    left: 180px;
    top: 720px;
  }
  .show5 {
    left: 470px;
    top: 690px;

  }
  .show6 {
    left: 710px;
    top: 660px;
  }
}
/* RESPONSIVE MAC*/
/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
    .button1 {
        left: 378px;
        top: 372px;
    }
    .button2 {
        left: 690px;
        top: 192px;
    }
    .button3 {
        left: 880px;
        top: 192px;
    }
    .button4 {
        left: 168px;
        top: 593px;
    }
    .button5 {
        left: 320px;
        top: 584px;
    }
    .button6{
        left: 466px;
        top: 575px;
    }


    .show1 {
        left: 510px;
        top: 150px;
    }
    .show2 {
        left: 810px;
    }
    .show3 {
        left: 988px;
    }
    .show4{
        left: 194px;
        top: 366px;
    }
    .show5 {
        left: 370px;
        top: 370px;
    }
    .show6 {
        left: 540px;
        top: 370px;
    }
}

/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {

}