body{
    margin: 0px; background-color: #222222; overflow: hidden;
  }



/*/////////////////////*/
@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0); }
    to { -webkit-transform: rotateY(360deg); }
}



.pyramid-gyro {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% 100px;
}
.pyramid-gyro2 {
    position: absolute;
    top: 50%;
    left: 70%;
    margin-left: -100px;
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% 100px;
}
.pyramid-gyro3 {
    position: absolute;
    top: 50%;
    left: 30%;
    margin-left: -100px;
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% 100px;
}
.pyramid-gyro4 {
    position: absolute;
    top: 60%;
    left: 20%;
    margin-left: -100px;
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% 100px;
}
.pyramid-axis {
    position: relative;
    width: 200px;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: spin 8s infinite linear;

}

.pyramid-wall {
    position: absolute;
    border: 100px solid transparent;
}

.front {
    bottom: -20px;
    border-bottom: 200px solid rgba(0,0,0,0.5);
    -webkit-transform: translateZ(25px) rotateX(30deg);
}
.back {
    bottom: -20px;
    border-bottom: 200px solid rgba(0,0,0,0.5);
    -webkit-transform: translateZ(-25px) rotateY(180deg) rotateX(30deg);
}
.left {
    bottom: -20px;
    left: 75px;
    border-bottom: 200px solid rgba(0,0,0,0.5);
    -webkit-transform: rotateY(270deg) translateX(-100px) rotateX(30deg);
    -webkit-transform-origin: center left;
}
.right {
    bottom: -40px;
    right: 150px;
    border-bottom: 200px solid rgba(0,0,0,0.5);
    -webkit-transform: rotateY(-270deg) translateX(100px) rotateX(30deg);
    -webkit-transform-origin: top right;
}
.bottom {
    width: 200px;
    height: 200px;
    background: rgba(0,0,0,0.5);
    -webkit-transform: rotateX(90deg) translateY(100px);
    -webkit-transform-origin: bottom center;
}
.shadow {
    position: absolute;
    top: 250px;
    width: 0;
    height: 0;
    box-shadow: 0 0 50px 100px rgba(0,0,0,0.5);
    -webkit-transform: rotateX(90deg) translateX(100px);
}

.fyi {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 250px;
    color: #fff;
}

.topnav {
    background-color: black;
    overflow: hidden;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.topnav img {
    height: 45px;
    margin: 10px;
}

.text1 {
    width: 430px;
    position: absolute;
    color: white;
    margin: 25px;
    bottom: 400px;
    left:35%;
    display: none;
    transition: 0.5s all ease;
    text-align: center;
}

.text2 {
    width: 430px;
    position: absolute;
    color: white;
    margin: 25px;
    bottom: 400px;
    right: 5%;
    display: none;
    transition: 0.5s all ease;
    text-align: center;
}

.text3 {
    width: 430px;
    position: absolute;
    color: white;
    margin: 25px;
    bottom: 400px;
    left: 5%;
    display: none;
    transition: 0.5s all ease;
    text-align: center;
}

.text4 {
    width: 430px;
    position: absolute;
    color: white;
    margin: 25px;
    bottom: 450px;
    left: 5%;
    display: none;
    transition: 0.5s all ease;
    text-align: center;
}

.text5 {
    width: 430px;
    position: absolute;
    color: white;
    margin: 25px;
    bottom: 450px;
    left:35%;
    display: none;
    transition: 0.5s all ease;
    text-align: center;
}

.text6 {
    width: 430px;
    position: absolute;
    color: white;
    margin: 25px;
    bottom: 450px;
    right: 5%;
    display: none;
    transition: 0.5s all ease;
    text-align: center;
}



