body{
    margin: 0px; background-color: #222222; overflow: hidden;
  }



/*/////////////////////*/
/*____________________________________________Loader________________________________________*/


/*_____________________________________*/



.topnav {

   /* background-color: black; */
overflow: hidden;
    /* border-bottom: 1px solid white; */
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    position: absolute;
    width: 100%;
}

.topnav span
{
    color : white;
    font-family: 'Roboto';
    margin-top: auto;

}



.right-white
{
    margin-top: 50vh;
    margin-left: 80vw;
    position: absolute;
}

.left-white
{
    margin-top: 50vh;
    margin-right: 50vw;
    position: absolute;
}




.topnav img {
    height: 36px;
    margin: 2% 2%;
}

.text1 {
    display: none;
}
.show1 {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 430px;
    position: absolute;
    color: white;
    flex-direction: column;
    display: flex;
    transition: 0.5s all ease;
    text-align: center;
    justify-content: center;
    left: 425px;
    top: 60px;
    font-family: 'ZCOOL XiaoWei', serif;
}
.button1 {
    left: 600px;
    top: 260px;
    position: absolute;
    background-color: rgba(125,125,125,0);
    border-color: rgba(125,125,125,0);
    color: white;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    animation-duration: 0.5s;
    transition: 0.5s all ease;
}
.button1:hover {
    color: gray;
}
.button2 {
    left: 790px;
    top: 230px;
    position: absolute;
    background-color: rgba(125,125,125,0);
    border-color: rgba(125,125,125,0);
    color: white;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    transition: 0.5s all ease;
}
.button2:hover {
    color: gray;
}
.button3 {
    left: 960px;
    top: 300px;
    position: absolute;
    background-color: rgba(125,125,125,0);
    border-color: rgba(125,125,125,0);
    color: white;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    transition: 0.5s all ease;
}
.button3:hover {
    color: gray;
}
.button4 {
    left: 345px;
    top: 450px;
    position: absolute;
    background-color: rgba(125,125,125,0);
    border-color: rgba(125,125,125,0);
    color: white;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    transition: 0.5s all ease;
}
.button4:hover {
    color: gray;
}
.button5 {
    left: 570px;
    top: 450px;
    position: absolute;
    background-color: rgba(125,125,125,0);
    border-color: rgba(125,125,125,0);
    color: white;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    transition: 0.5s all ease;
}
.button5:hover {
    color: gray;
}
.button6 {
    left: 800px;
    top: 450px;
    position: absolute;
    background-color: rgba(125,125,125,0);
    border-color: rgba(125,125,125,0);
    color: white;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    transition: 0.5s all ease;
}
.button6:hover {
    color: gray;
}

.text2 {
    display: none;
    transition: 0.5s all ease;
}

.show2 {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 430px;
    position: absolute;
    color: white;
    left: 610px;
    top: 30px;
    display: flex;
    flex-direction : column;
    transition: 0.5s all ease;
    text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;
  }
  

  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

.text3 {

    display: none;

}
.show3 {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 430px;
    position: absolute;
    color: white;
    left: 790px;
    top: 100px;
    flex-direction: column;
    display: flex;
    transition: 0.5s all ease;
    text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;
}

.text4 {
    display: none;
}
.show4 {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 430px;
    position: absolute;
    color: white;
    left: 180px;
    top: 250px;
    display: flex;
    transition: 0.5s all ease;
    text-align: center;
    flex-direction: column;
}

.text5 {
    display: none;
}
.show5 {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 430px;
    position: absolute;
    color: white;
    left: 400px;
    top: 250px;
    display: flex;
    transition: 0.5s all ease;
    text-align: center;
    flex-direction: column;
}

.text6 {
    display: none;
}
.show6 {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 430px;
    position: absolute;
    color: white;
    left: 630px;
    top: 250px;
    display: flex;
    transition: 0.5s all ease;
    text-align: center;
    flex-direction: column;
}
.rotate{
    transition: 0.5s all ease;
}
.rotate:hover {
    transform: rotate(180deg);
}
h3 {
    font-family: 'Cinzel', serif;
    font-size: 200%;
}


/* LOADER  */

.loader-container{
    position: fixed;
    top: 0; 
    left: 0 ;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: black;
    transition:opacity 1s ease-in-out ,visibility 1s ease-in-out;
    }
    .loader{
    
    width: 120px;
    height: 120px;
    border: 16px solid grey;
    border-radius: 50%;
    border-top: 16px solid white;
    position: absolute;
    top: 50%;
    left:50%;
    box-shadow: 0 0 6px 2px rgba(243, 243, 243, 0.2);
    animation: loader 1s linear infinite;
    }
    
    @keyframes loader {
    
    0%{
    transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
    
        transform: translate(-50%, -50%) rotate(360deg);
    }
    
    }
    .loader-container.hidden{
    
    opacity: 0;
    visibility: hidden;
    
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50%;
        padding: 0 4rem;
        color: white;
        top:0;
        left: 0;
      }
      
     h1, h2 {
        font-weight: 200;
        color: white;
      }
      
      h1 {
          position: fixed;
          display: flex;
          align-self: center;
          text-align: center;
        font-size: 3.5rem;
        top: 10%;
        
        
        font-family: 'ZCOOL XiaoWei', serif;
      }
      
      h2 {
          text-align: center;
          position: fixed;
          display: flex;
          align-self: center;
          top:20%;
        font-size: 2.5rem;
        color: #aaa;
        
        font-family: 'Neucha', cursive;
      }
      
      
      .txt-type > .txt {
        border-right: 0.2rem solid #777;
      }


      @media (max-width: 1920px) and (max-height: 1080px) {
          .button1 {
            left: 757px;
            top: 325px;
          }
          .button2 {
            left: 1000px;
            top: 300px;
          }
          .button3 {
            left: 1220px;
            top: 375px;
          }
          .button4 {
            left: 430px;
            top: 575px;
          }
          .button5 {
            left: 725px;
            top: 575px; 
          }
          .button6{
            left: 1000px;
            top: 575px;
          }
          .show1 {
            left: 589px;
          }
          .show2 {
            left: 810px;
          }
          .show3 {
            left: 1050px;
          }
          .show4{
            left: 270px;
            top: 300px;
          }
          .show5 {
            left: 550px;
            top: 300px;
        
          }
          .show6 {
            left: 850px;
            top: 300px;
          }
      }